* {
    transition: all 0.4s ease-out;
}
body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.todo__list {
    padding: 8px 16px;
}
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: rgb(128, 12, 182);
    padding: 8px;
    margin: 0;
}

li::marker {
    color: rgb(128, 12, 182);
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

ol {
    padding-right: 30px;
}

li {
    font-family: Arial, sans-serif;
    color: rgb(2, 128, 128);
    font-size: 18px;
    padding: 4px 2px;
    border-bottom: 1px dashed rgb(128, 12, 182);
    text-transform: capitalize;
}

li > button {
    display: none;
}
li:hover > button {
    display: inline;
}

.btn-primary {
    font-weight: 600;
    margin: 10px;
    padding: 8px 16px;
    border: 2px solid rgb(128, 12, 182);
    border-radius: 50px;
    background-color: rgb(128, 12, 182);
    color: #fff;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(128, 12, 182);
}
.btn-danger {
    font-size: 18px;
    position: absolute;
    right: 10%;
    padding: 0px 2epx;
    border: none;
    /* border: 2px solid rgb(189, 56, 96); */
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(189, 56, 96);
    transition: all 0.4s ease-out;
}
.btn-danger:hover {
    background-color: rgb(189, 56, 96);
    color: #fff;
}

.btn-success {
    font-size: 18px;
    position: absolute;
    right: 10%;
    padding: 0px 2px;
    border: none;
    /* border: 2px solid rgb(44, 197, 82); */
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(44, 197, 82);
    transition: all 0.4s ease-out;
}
.btn-success:hover {
    background-color: rgb(44, 197, 82);
    color: #fff;
}

.add-new-task {
    border: none;
    border-radius: 4px 4px 0 0;
    padding: 12px 16px 4px 16px;
    color: rgb(128, 12, 182);
    font-size: 18px;
    border-bottom: 2px solid rgb(128, 12, 182);
    transition: all 0.4s ease-out;
}
.add-new-task:focus {
    outline: none;
    background-color: rgb(242, 228, 255);
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px 0px;
    margin-bottom: 30px;
}

.btn-lg {
    padding: 4px 14px;
}

.completed__item {
    text-decoration: line-through;
    color: rgb(128, 128, 128);
}